@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

:root{
    --primary-color: #FFF0DE;
    --secondary-color: #FFA800;
    --lighter-shade: #fff7ed;
    font-family: 'Quicksand', sans-serif;
}
.head{
    height:6vh;
    padding-top: 2vh;
    background-color: var(--primary-color);
    padding-bottom: 2vh;
    
}

.header{
    display:flex;
    justify-content: space-between;
    font-size: 15px;
    width:100vw'
}

.logo-svg {
   height:100px;
    width:100px;
  
}

ul {
    display:flex;
    justify-content: space-around;
    width:35vw;
    margin-right: 4vw;
}

ul > .list {
    text-decoration: none;
    display:block
}

a{
    text-decoration: none;
    color:#000;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
  }
  
  a:hover::after {
    background-color: var(--secondary-color); 
  }

.about, .contact{
    font-weight: bold;
    margin-top:5px;
}

.signin{
    width:95px;
    text-align: center;
    height:33px;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    cursor:pointer;
    padding-top: 3px;
    font-weight: 500;
    margin-bottom: 5px;
    transition:all .2s ease-in-out;
    font-size: 15px;
}


.signin:hover{
    background-color: var(--secondary-color);
    font-weight: 1000;
}

.hero{
    background-color: var(--primary-color);
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:90vh;
}

.hero-left{
    margin-left: 20px;
}

.hero-right{
    margin-right: 25px;
}

.hero-heading{
    margin-bottom: 3vh;
    width:60vw;
    font-size: 64px;
    font-weight: bold;
}

.search-box {
    position:relative;
    z-index:2;
    display: flex;
    align-items: center;
    width: 600px;
    height: 73px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-in-out;
    margin-top:3vh;
  }
  
 
  
  .search-box input {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 26px;
    color:#AEAEAE;
  }
  
  .search-box input:focus {
    color: #000;    
}
  
  .search-btn {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .search-btn i { 
    font-size: 18px;
  }
  
  
  
.map{
    max-width: 40vw;
}

.aboutP{
    height:100vh;
    display:flex;
    flex-direction: column;
    overflow:hidden;
}

.about-header{
  align-self: center;
  margin-top: 3vh;
  font-size: clamp(24px, 3.5vw, 48px);
  font-weight: 500;
  width:20vw;
  text-align: center;
}

.about-span{
  color:var(--secondary-color);
}

/* slides section */

/* Swiper container stylng */
.swiper-container{
  position:relative;
  
}


.swiper-slide {
  text-align: center;
   /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 20vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-image: url(assets/Vector\ 1.svg);
  background-repeat: no-repeat;
  background-position:center;
  
  
}

.swiper-wrapper{
  
}

.navigation{
  margin-top:5vh;
  height:50vh;
}

.swiper-pagination {
  position:absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 70vh;
}

.swiper-button-prev,
.swiper-button-next {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.swiper-button-prev {
  left: 1rem;
}

.swiper-button-next {
  right: 1rem;
}


/* reviews section */
  
  .reviewsP{
    background-color: var(--primary-color);
    height: 100vh;
  }

  .review-header{
    padding: 2% 35%;
    text-align: center;
    font-size: clamp(24px, 3.5vw, 48px);
    font-weight: 500;
  
  }

  .review-span{
    color:var(--secondary-color);
  }

  .reviews-main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 20px;
    padding-left: 2vw;
    height:70vh;
    margin-top:8vh;
  }

  .review-card{
    width:30vw;
    background-color: var(--lighter-shade);
    font-size: 15px;
    border-radius: 16px;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:5%;
  }

/* change to italics */
  .review-text{
    font-weight: 400;
    text-decoration: italic;
  }



  @media screen and (max-width: 768px) {
    .swiper-navBtn {
      display: none;
    }
  }



  